{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="py-5">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-8 ">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.age) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.text) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.email) }}
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}